@import "./variables.scss";
body,
#app {
  font-family: $font-primary, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-background;
  margin: 0;
  padding: 0;
}

@media(min-width: 576px) {
  .container {
    max-width: 550px !important;
  }
}
@media(min-width: 650px) {
  .container {
    max-width: 620px !important;
  }
}
@media(min-width: 768px) {
  .container {
    max-width: 760px !important;
  }
}
@media (min-width: 992px){
  .container {
      max-width: 960px !important;
  }
}
@media (min-width: 1200px){
  .container {
      max-width: 1140px !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary, sans-serif;
  font-style: normal;
  color: $text-dark;
}

h1 {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.0128571em;
}

h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.0145455em;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.019em;
}

h5 {
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.0241176em;
}

h6 {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.016em;
}

p {
  font-family: $font-primary, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $paragraph-color;
}

.btn {
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  &.btn-md {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.02em;
    height: 40px;
    min-width: 148px;
  }
  &:active {
    &:focus {
      box-shadow: none !important;
    }
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}